{% extends "base.html" %}
{% block content %}



<div class="container">
  <h4>Brand Buying Rate</h4>
  <div class="rate-chart" style="width: 75%; margin: auto;">
    
    <canvas id="buyRateChart"></canvas>


  </div>
  <p>Brand with Top Buying Rate: 
    {% for brand in top_buy_rate_brand %}
      {{ brand }}
    {% endfor %}
  </p>
  <br/>
  <h4>Retailer Affinity</h4>
  <div class="retailer-affinity">
    
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" id="selected-brand" type="button" data-toggle="dropdown">Brands
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        {% for brand in brands %}
          <li><a href="#brand" data-brand="{{ brand }}">{{ brand }}</a></li>
        {% endfor %}
      </ul>
    </div>

  <p></p>

  <table class="table table-bordered" style="width: 75%; margin: auto;">
    <thead class="tab-head">
    </thead>
    <tbody class="tab-body">
    </tbody>
  </table>
  <br/>
  <p id="tab-comment"></p>
</div>
</div>

<script>
  Chart.defaults.global.defaultFontFamily = "Arial";
  var options = { responsive: true };
  var ctx= $("#buyRateChart").get(0).getContext("2d");
  $.get("/buy-rate.json", function (data) {
      var myBarChart = new Chart(ctx, {
        type: 'bar',
        data: data,
        options: {
          scales: {
            xAxes: [{ barPercentage: 0.5 }]
          },
          legend: { display: false},
          title: {
            display: false,
            text: "Brand Buying Rates"
          }
              }
      });
  });

  function showAffinity(results) {
    console.log(results);
    console.log(results.brand);
    console.log(results.affinity);
    $("#selected-brand").html(results.brand + " <span class='caret'></span>");
    $("#tab-comment").html("Top Retailer Affinity: " + results.top_affinity)
    $(".tab-head").html("<tr><th>Retailer</th><th>Affinity</th></tr>");
    $(".tab-body").html("<tr><tr>");
    $.each(results.affinity, function(key, value) {
      $(".tab-body").append("<tr><td>" + key + "</td><td>" + value + "x</td></tr>");
    });
  }

  function getBrand(evt) {
    evt.preventDefault();

    var brand = {
      "b": $(this).data("brand")
    };
    console.log(brand);
    

    $.get("/affinity.json", brand, showAffinity);
  }


  $("a[href='#brand']").click(getBrand);
</script>


{% endblock %}